DB_DSN=mysql:host=db;dbname=web
DB_USER=user
DB_PASSWORD=password
DB_CHARSET=charset

TRANSPORT_CLASS=Swift_SmtpTransport
TRANSPORT_HOST=host
TRANSPORT_USERNAME=username
TRANSPORT_PASSWORD=password
TRANSPORT_PORT=port
TRANSPORT_ENCRYPTION=encryption